@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

header h1{
    font-family: 'Pricedown';
    font-size: 50px;
}

header ul{
    list-style-type: none;
    display: flex;
    margin-top: 30px;
}

ul li a{
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-transform: uppercase;
}

ul li a:hover{
    color: dimgrey;
    transition-duration: 0.5s;
}

.social a i{
    padding: 2px;
    color: black;
    margin-top: 33px;
    
}

.fa-facebook-f:hover{
    color: #3b5999;
    transition-duration: 0.5s;
}

.fa-instagram:hover{
    color: #e4405f;
    transition-duration: 0.5s;
}

.fa-linkedin:hover{
    color: #0077B5;
    transition-duration: 0.5s;
}

.fa-github:hover{
    color: #4078c0;
    transition-duration: 0.5s;
}

.banner img{
    border-radius: 12px;
    margin-top: 25px;
}

.banner{
    display: grid;
    justify-content: center;
    height: 100vh;
}

.banner h1{
    font-family: poppins;
    font-size: 200px;
    font-weight: 900;
    margin-top: -250px;
    margin-left: -100px;
}

@font-face{
    font-family: 'Pricedown';
    src: url(gta.ttf);
}

